
{
margin: 0 auto;
padding: 0;
}

.navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: center;
            top: 20px;
            cursor: pointer;
        }
 
.background {
            background: black;
            background-blend-mode: darken;
            background-size: cover;
}
 
.nav-list {
            width: 70%;
            display: flex;
            align-items: center;
}
 
.logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
.logo img {
            width: 180px;
            border-radius: 50px;
        }
 
.nav-list li {
            list-style: none;
            padding: 26px 30px;
        }
 
.nav-list li a {
            text-decoration: none;
            color: rgb(196, 101, 101);
        }
 
.nav-list li a:hover {
            color: grey;
        }
 
.rightnav {
            width: 30%;
            text-align: right;
        }
 
       #search {
            padding: 5px;
            font-size: 17px;
            border: 2px solid grey;
            border-radius: 9px;
        }
 
.firstsection {
            background-color: blanchedalmond;
            height: 200px;
            width: auto;
        }
.secondsection {
            background-color: blue;
            height: 400px;
        }
.box-main {
    display: flex;
    justify-content: center;
    color: black;
    margin: auto;
    height: 60%;
};
.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
}
.secondhalf {
    width: 30%;
    height: 25%;
}
.secondhalf img {
    width: 70% auto;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid rgb(184, 18, 18);
    border-radius: 8px;
    background: none;
    color: rgb(7, 7, 7);
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 400px;
    display: flex;
    align-items: right;
    justify-content: right;
    max-width: 90%;
    margin: auto;
}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(30, 2, 2, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    front-family: arial;
};
.price {
    color: greenyellow;
    front-size: 22px;
};
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    front-size: 18px;
};
.card button:hover{
    opacity: 0.7;
}

img {
    border-radius: 5px 5px 0 0;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(99, 50, 223, 0.2)
};
.container {
    padding: 2px 16px;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
};
  
  /* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
};
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  




 
 
 




